/* CircularStd @font-face kit */
@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.eot');
    src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BlackItalic.eot');
    src: url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'), url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BoldItalic.eot');
    src: url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Medium.eot');
    src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-MediumItalic.eot');
    src: url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BookItalic.eot');
    src: url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'AkkuratLight';
    src: url('../fonts/AkkuratLightRegular.eot');
    src: url('../fonts/AkkuratLightRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/Akkurat-Light.woff') format('woff'), url('../fonts/Akkurat-Light.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 100;
    font-style: normal;
  }

.bio {
    text-align: left;
    padding-top: 10%;
    padding-bottom: 5%;
  
}

.bio h1 span {
    display: block;
}

body {
    font-family: 'CircularStd';
}

h1 {
    color: #4A4A4A;
    font-weight: normal;
    font-size:24px;
    font-family: 'CircularStd';
  }

h2 {
    color: #E8C429;
    font-weight: bold;
    font-size: 28px;
    font-family: 'CircularStd';
    margin-top: 30px;
}

h3 {
  color: #4A4A4A;
  font-weight: 400;
  font-size: 18px;
  font-family: 'CircularStd';
}

h4 {
  color: #E8C429;
  font-weight: bold;
  font-size: 22px;
  font-family: 'CircularStd';
}

h5 {
    font-weight: bold;
    font-size: 17px;
    color: #4A4A4A;
}

h6 {
    color: #63ECDA;
    font-weight: 400;
    font-size: 90px;
    font-family:'CircularStd';

}

h7 {
    color: #71C4D1;
    font-weight: 400;
    font-size: 90px;
    font-family:'CircularStd';

}


.text-about {
    font-weight: 400;
    font-size: 16px;
    color:#4A4A4A;
}   

.super-text {
    padding-top: 35px;
    width: 80%;
    margin: 0 auto;
}

.imagen-awkward  {
    width: 80%;
    margin: 0 auto;
}

#navbar-brand {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    font-size: 18px;
}

.navbar-item {
    padding-right: 15px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    padding: 40px 0;
    background-color: #e9ecef
} 

.contact-text {
 width: 60%;
}

.contact-subjects {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.subject-top {
display: flex;
justify-content: space-evenly;
width: 50%;
}

.subject-bottom {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.flex {
    display: flex;
    justify-content: center;
}

.social-media {
    border-top: 1px solid #D8D8D8;
    padding: 0 45px;
}

.social-media li {
    padding: 10px 15px;
}

a {
    text-decoration: none;
    color: #9B9B9B;
}

a:hover {
    text-decoration: none;
    color: #E8C429;
}

.contact-subjects img { 
    height: 50px;
    margin: 10px;

}

.projects {
    /* max-width: 80%; */
    /* margin: 0 auto; */
    /* margin-bottom: 100px; */
    padding-bottom: 15%; 
}

.projects img {
    max-width: 100%;
}

.img-container {
  margin-top: 30px;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2)

}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: #E8C429;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.overlay h2 {
    margin: 0;
    padding: 0;
}

.overlay:hover {
    opacity: 0.9;
    color: white;
    transition: all 0.17s ease-in-out;
}

.overlay:hover h2{
    opacity: 1;
    color: white;
}

.img-container:hover {
   transition: all 0.17s ease-in-out;
   transform: translateY(5px);
   box-shadow: 5px 5px 20px rgba(148, 145, 145, 0.5);

}

.header {
    background-color:white
}

.padding-container {
    padding: 0px 250px;

}

.margin-container {
    padding: 0px 250px;

}

.header-description {
    width: 60%;

}

@media (max-width: 700px) {

    .padding-container {
        padding: 0px 50px;
    }  
    .header-description {
        width: 100%;  
    }

    .mail{
        flex-direction: column;
        align-items: center;   
    }
}

.list.li {
    list-style-type: circle;
}

.mail{
    width:68%;
    display: flex;
    justify-content: space-between;
}

.content-project1{
    padding: 0px 250px;
    padding-top: 120px;
    padding-bottom: 70px;

   

}
.first-project-image {
    padding-top: 30px;
    
}

.carousel-inner img {
    width: auto;
    height: auto;
    align-content: center
}